<Config>
  <LogLevel>Info</LogLevel>
  <Port>7878</Port>
  <UrlBase>/radarr</UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey>dcd9f26124ba4efa89aa3b028a0b516d</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>master</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <UpdateMechanism>Docker</UpdateMechanism>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <AnalyticsEnabled>False</AnalyticsEnabled>
</Config>