# The main host for web-based services.
HOST=jessie

# SMTP mail server host.
SMTP_HOST=mail.example.com

# SMTP username.
SMTP_USER=postmaster@example.com

# Timezone for all containers.
TZ=Europe/London

# System user ID to run containers as.
PUID=1000

# System group ID to run containers as.
PGID=1004

# Location of config storage on host.
CONFIG_DIR=config

# Location of data storage on host.
DATA_DIR=data

# Location of logs directory on host.
LOG_DIR=/var/log

# Administrative email address.
ADMIN_EMAIL=somebody@example.com

# Local subnet.
LAN_SUBNET=10.0.0.0/24

# Printer host.
PRINTER_HOST=printer.example.com

# Host of NFS shares.
NFS_HOST=nfs.example.com

# Zabbix server hostname.
ZBX_HOSTNAME=zabbix-server

# Zabbix monitoring server host.
ZBX_SERVER_HOST=zabbix.example.com

# Zabbix active check interval.
ZBX_REFRESHACTIVECHECKS=60