name: jessie-server-deployment
include:
  - docker-compose.cloud.yml
  - docker-compose.management.yml
  - docker-compose.media.yml
  - docker-compose.music.yml
  - docker-compose.tools.yml
  - stacks/docker-compose.authentik.yml
  - stacks/docker-compose.monitoring.yml
services:
  traefik:
    image: traefik:v3.6.0@sha256:18112aed2bfe3dfb8534f1045622390c3316596cff0cefab64f44e43d23e1640
    container_name: traefik
    volumes:
      - ${DATA_DIR}/letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    secrets:
      - cloudflare_dns_api_token
      - cloudflare_zone_api_token
    environment:
      - CF_ZONE_API_TOKEN_FILE=/run/secrets/cloudflare_zone_api_token
      - CF_DNS_API_TOKEN_FILE=/run/secrets/cloudflare_dns_api_token
    ports:
      - '0.0.0.0:80:80'
      - '0.0.0.0:443:443'
    networks:
      - arr-web
      - authentik-proxy-web
      - cyberchef-web
      - deemix-web
      - firefly-web
      - freshrss-web
      - feishin-web
      - glance-web
      - n8n-web
      - immich-web
      - jellyfin-web
      - navidrome-web
      - nextcloud-web
      - paperless-web
      - gluetun-web
      - vaultwarden-web
      - obsidian-web
      - cobalt-web
      - karakeep-web
      - stirling-pdf-web
      - otr-web
      - fdroid-web
      - lidarr-web
    command:
      - '--global.sendAnonymousUsage=false'
      - '--api.insecure=true'
      - '--api.dashboard=true'
      - '--providers.docker=true'
      - '--providers.docker.exposedbydefault=false'
      - '--entrypoints.http.address=:80'
      - '--entrypoints.http.http.redirections.entrypoint.to=https'
      - '--entrypoints.http.http.redirections.entrypoint.scheme=https'
      - '--entrypoints.https.address=:443'
      - '--entrypoints.https.forwardedheaders.trustedips=${LAN_SUBNET}'
      - '--entrypoints.https.http.tls=true'
      - '--entrypoints.https.http.tls.certResolver=resolver'
      - '--entrypoints.https.http.tls.domains[0].main=${HOST}'
      - '--entrypoints.https.http.tls.domains[0].sans=*.${HOST}'
      - '--certificatesresolvers.resolver.acme.dnschallenge=true'
      - '--certificatesresolvers.resolver.acme.dnschallenge.provider=cloudflare'
      - '--certificatesresolvers.resolver.acme.email=${ADMIN_MAIL}'
      - '--certificatesresolvers.resolver.acme.storage=/letsencrypt/acme.json'
      - '--certificatesresolvers.resolver.acme.dnschallenge.resolvers=1.1.1.1,1.0.0.1'
      - '--serversTransport.insecureSkipVerify=true'
    restart: unless-stopped
    labels:
      readme.description: The Cloud Native Application Proxy.
      readme.links.github: https://github.com/traefik/traefik
      traefik.enable: true
      traefik.http.routers.api.entrypoints: https
      traefik.http.routers.api.rule: Host(`traefik.${HOST}`)
      traefik.http.services.traefik.loadbalancer.server.port: 8080
      glance.name: Traefik
      glance.icon: di:traefik
      glance.url: https://traefik.${HOST}
      glance.description: Modern HTTP Reverse Proxy
      glance.category: cloud
    hostname: traefik
secrets:
  cloudflare_dns_api_token:
    file: ./.secrets/cloudflare_dns_api_token
  cloudflare_zone_api_token:
    file: ./.secrets/cloudflare_zone_api_token
