---
networks:
  deemix-web:
    name: deemix-web
  navidrome-web:
    name: navidrome-web
  feishin-web:
    name: feishin-web
services:
  deemix:
    container_name: deemix
    environment:
      - PUID
      - GUID
      - UMASK_SET=022
      - DEEMIX_SINGLE_USER=true
    image: registry.gitlab.com/bockiii/deemix-docker
    labels:
      com.centurylinklabs.watchtower.enable: true
      readme.description: Barebone deezer downloader.
      readme.links.gitlab: https://gitlab.com/Bockiii/deemix-docker
      readme.links.website: https://deemix.app/
      traefik.docker.network: deemix-web
      traefik.enable: true
      traefik.http.routers.deemix.entrypoints: https
      traefik.http.routers.deemix.middlewares: authelia
      traefik.http.routers.deemix.rule: Host(`deemix.${HOST}`)
    networks:
      deemix-web:
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/lidarr/downloads:/downloads
      - ${CONFIG_DIR}/deemix:/config
      - ${LOG_DIR}/deemix:/config/log
  lidarr:
    container_name: lidarr
    environment:
      - PUID
      - GUID
      - TZ
    image: ghcr.io/linuxserver/lidarr
    labels:
      com.centurylinklabs.watchtower.enable: true
      readme.description: Music Collection Manager.
      readme.links.github: https://github.com/Lidarr/Lidarr
      traefik.docker.network: arr-web
      traefik.enable: true
      traefik.http.routers.lidarr.entrypoints: https
      traefik.http.routers.lidarr.middlewares: authelia
      traefik.http.routers.lidarr.rule: Host(`lidarr.${HOST}`)
      traefik.http.services.lidarr.loadbalancer.server.port: 8686
    networks:
      arr-web:
      navidrome-web:
      tunnel:
    restart: unless-stopped
    volumes:
      - ${CONFIG_DIR}/lidarr/custom-services.d:/custom-services.d
      - ${CONFIG_DIR}/lidarr/custom-cont-init.d:/custom-cont-init.d
      - ${DATA_DIR}/lidarr:/config
      - ${MEDIA_DIR}/music:/music
      - ${MEDIA_DIR}/music-videos:/music-videos
      - ${DATA_DIR}/lidarr/downloads:/downloads
      - ${LOG_DIR}/lidarr:/config/logs
  navidrome:
    container_name: navidrome
    environment:
      - ND_SCANSCHEDULE=1h
      - ND_LOGLEVEL=info
      - ND_SESSIONTIMEOUT=24h
      - ND_BASEURL=/
    image: deluan/navidrome:latest
    labels:
      com.centurylinklabs.watchtower.enable: true
      readme.description: Modern Music Server and Streamer compatible with Subsonic/Airsonic.
      readme.links.github: https://github.com/navidrome/navidrome
      traefik.docker.network: navidrome-web
      traefik.enable: true
      traefik.http.routers.navidrome.entrypoints: https
      traefik.http.routers.navidrome.rule: Host(`navidrome.${HOST}`)
    networks:
      navidrome-web:
    restart: unless-stopped
    volumes:
      - ${DATA_DIR}/navidrome:/data
      - ${MEDIA_DIR}/music:/music:ro
  feishin:
    container_name: feishin
    environment:
      - SERVER_NAME=jessie
      - SERVER_TYPE=navidrome
      - SERVER_URL=https://navidrome.${HOST}
      - SERVER_LOCK=true
    image: ghcr.io/jeffvli/feishin:latest
    labels:
      com.centurylinklabs.watchtower.enable: true
      readme.description: A modern self-hosted music player.
      readme.links.github: https://github.com/jeffvli/feishin
      traefik.docker.network: feishin-web
      traefik.enable: true
      traefik.http.routers.feishin.entrypoints: https
      traefik.http.routers.feishin.middlewares: authelia
      traefik.http.routers.feishin.rule: Host(`feishin.${HOST}`)
      traefik.http.services.feishin.loadbalancer.server.port: 9180
    networks:
      feishin-web:
    restart: unless-stopped
version: '3.9'