server {
    listen 80 default_server;
    server_name _;
    return 301 https://$host$request_uri;
}

server {
    server_name ${HOST} www.${HOST};
    include /etc/nginx/ext/ssl.conf;

    client_max_body_size 128M;

    include include/*.conf;
}
