upstream fidi {
    server fidi:8080;
}

server {
    server_name ${FIREFLY_DATA_HOST};
    include /etc/nginx/ext/ssl.conf;

    location / {
        proxy_pass http://fidi$uri$is_args$args;
        include /etc/nginx/ext/proxy.conf;
        proxy_buffer_size 128k;
        proxy_busy_buffers_size 256k;
    }
}
