upstream firefly {
    server firefly:8080;
}

server {
    server_name ${FIREFLY_HOST};
    include /etc/nginx/ext/ssl.conf;

    location / {
        proxy_pass http://firefly/;
        include /etc/nginx/ext/proxy.conf;
    }
}
