upstream hoppscotch {
    server hoppscotch:3000;
}

server {
    server_name ${HOPPSCOTCH_HOST};
    include /etc/nginx/ext/ssl.conf;
    include /etc/nginx/ext/authelia.conf;

    location / {
        proxy_pass http://hoppscotch/;
        include /etc/nginx/ext/auth.conf;
        include /etc/nginx/ext/proxy.conf;
    }
}
