upstream huginn {
    server huginn:3000;
}

server {
    server_name ${HUGINN_HOST};
    include /etc/nginx/ext/ssl.conf;

    location ~ ^/(.*)$ {
        set $upstream http://huginn/$1$is_args$args;
        proxy_pass $upstream;
        include /etc/nginx/ext/proxy.conf;
    }
}
