upstream jellyfin {
    server 172.17.0.1:8096;
}
server {
    server_name ${JELLYFIN_HOST};
    include /etc/nginx/ext/ssl.conf;

    location / {
        proxy_pass http://jellyfin/;
        include /etc/nginx/ext/proxy.conf;
        client_max_body_size 100M;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
