upstream wireguard {
    server wireguard:51821;
}

server {
    server_name ${WIREGUARD_HOST};
    include /etc/nginx/ext/ssl.conf;

    location ~ ^/(.*)$ {
        set $upstream http://wireguard/$1$is_args$args;
        proxy_pass $upstream;
        include /etc/nginx/ext/proxy.conf;
    }
}
