name: vaultwarden
include:
  - ./common/docker-compose.secrets.yml
services:
  vaultwarden:
    image: vaultwarden/server:1.35.2@sha256:d89a6d21e361254670c24a4272b4b5f245e402c284f2f55de2c379fdbcfa1fa5
    container_name: vaultwarden
    volumes:
      - ${DATA_DIR}/vaultwarden:/data
    secrets:
      - smtp_password
    environment:
      - SMTP_HOST
      - SMTP_FROM=${SMTP_USER}
      - SMTP_PORT=587
      - SMTP_SECURITY=starttls
      - SMTP_USERNAME=${SMTP_USER}
      - SMTP_PASSWORD_FILE=/run/secrets/smtp_password
      - DOMAIN=https://fence.${HOST}
    networks:
      - vaultwarden-web
    restart: unless-stopped
    labels:
      readme.description: Unofficial Bitwarden compatible server written in Rust.
      readme.links.github: https://github.com/dani-garcia/vaultwarden
      traefik.enable: true
      traefik.http.routers.vaultwarden.entrypoints: https
      traefik.http.routers.vaultwarden.rule: Host(`fence.${HOST}`)
      glance.name: Bitwarden
      glance.icon: di:bitwarden
      glance.url: https://fence.${HOST}
      glance.description: Password Manager
      glance.category: cloud
networks:
  vaultwarden-web:
    name: vaultwarden-web
