name: n8n
services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:2.6.2@sha256:ff6fe9eca746b7455c9e6e4fbc6f5753c3204e82279e015fa62f1bfe309e6343
    container_name: n8n
    volumes:
      - ${DATA_DIR}/n8n:/home/node/.n8n
    environment:
      - GENERIC_TIMEZONE=${TZ}
      - TZ
    networks:
      - n8n-web
    restart: unless-stopped
    labels:
      readme.description: Powerful workflow automation.
      readme.links.website: https://n8n.io/
      traefik.docker.network: n8n-web
      traefik.enable: true
      traefik.http.routers.n8n.entrypoints: https
      traefik.http.routers.n8n.rule: Host(`n8n.${HOST}`)
      glance.name: n8n
      glance.icon: di:n8n
      glance.url: https://n8n.${HOST}
      glance.description: Workflow Automation
      glance.category: tools
networks:
  n8n-web:
    name: n8n-web
