name: paperless
include:
  - common/docker-compose.volumes.yml
services:
  paperless-gotenberg:
    image: docker.io/gotenberg/gotenberg:8.24@sha256:b116a40a1c24917e2bf3e153692da5acd2e78e7cd67e1b2d243b47c178f31c90
    container_name: paperless-gotenberg
    networks:
      - paperless
    command:
      - gotenberg
      - '--chromium-disable-javascript=true'
      - '--chromium-allow-list=file:///tmp/.*'
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: Gotenberg
      glance.category: cloud
  paperless-ngx:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.19.2@sha256:e1e0026cdacda4bb157c024a8a1a343bd16b34d8900e7f3958598b9afebd0d38
    container_name: paperless-ngx
    depends_on:
      - paperless-gotenberg
      - paperless-postgres
      - paperless-redis
      - paperless-tika
    volumes:
      - ${DATA_DIR}/paperless/data:/usr/src/paperless/data
      - ${DATA_DIR}/paperless/media:/usr/src/paperless/media
      - ${DATA_DIR}/paperless/export:/usr/src/paperless/export
      - ${DATA_DIR}/paperless/consume:/usr/src/paperless/consume
      - ${LOG_DIR}/paperless:/usr/src/paperless/data/log
      - paperless:/usr/src/paperless/media/documents/originals
    secrets:
      - paperless_postgres_password
      - paperless_socialaccount_providers
    environment:
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIALACCOUNT_PROVIDERS_FILE: /run/secrets/paperless_socialaccount_providers
      PAPERLESS_REDIRECT_LOGIN_TO_SSO: true
      PAPERLESS_DBHOST: paperless-postgres
      PAPERLESS_DBPASS_FILE: /run/secrets/paperless_postgres_password
      PAPERLESS_REDIS: redis://paperless-redis:6379
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_ENDPOINT: http://paperless-tika:9998
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenberg:3000
      PAPERLESS_URL: https://paperless.${HOST}
      USERMAP_GID: ${PGID}
      USERMAP_UID: ${PUID}
    networks:
      - paperless
      - paperless-web
    restart: unless-stopped
    healthcheck:
      interval: 30s
      retries: 5
      test:
        - CMD
        - curl
        - '-fs'
        - '-S'
        - '--max-time'
        - '2'
        - http://localhost:8000
      timeout: 10s
    labels:
      readme.description: Document Management System.
      readme.links.github: https://github.com/paperless-ngx/paperless-ngx
      traefik.docker.network: paperless-web
      traefik.enable: true
      traefik.http.routers.paperless-ngx.entrypoints: https
      traefik.http.routers.paperless-ngx.rule: Host(`paperless.${HOST}`)
      traefik.http.services.paperless-ngx.loadbalancer.server.port: 8000
      glance.id: paperless
      glance.name: Paperless
      glance.icon: di:paperless
      glance.url: https://paperless.${HOST}
      glance.description: Document Management System
      glance.category: cloud
  paperless-postgres:
    image: postgres:18.0-alpine3.22@sha256:f898ac406e1a9e05115cc2efcb3c3abb3a92a4c0263f3b6f6aaae354cbb1953a
    container_name: paperless-postgres
    volumes:
      - paperless-postgres:/var/lib/postgresql
      - ${DATA_DIR}/postgres/paperless:/docker-entrypoint-initdb.d
    secrets:
      - paperless_postgres_password
    environment:
      POSTGRES_DB: paperless
      POSTGRES_PASSWORD_FILE: /run/secrets/paperless_postgres_password
      POSTGRES_USER: paperless
    networks:
      - paperless
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: DB
  paperless-redis:
    image: redis:8.2.2@sha256:f0957bcaa75fd58a9a1847c1f07caf370579196259d69ac07f2e27b5b389b021
    container_name: paperless-redis
    volumes:
      - ${DATA_DIR}/redis/paperless:/data
    networks:
      - paperless
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: KV
      glance.category: cloud
  paperless-scanner:
    image: manuc66/node-hp-scan-to:1.9.2@sha256:7199a8fe581265b8eaaec5176cf5a34844f3c8a16578535348a0373e94a36c3b
    container_name: paperless-scanner
    volumes:
      - ${DATA_DIR}/paperless/consume:/scan
    environment:
      - IP=${PRINTER_HOST}
      - LABEL=Paperless
      - PATTERN="scan"_dd.mm.yyyy_hh:MM:ss
      - PGID
      - PUID
      - TZ
    networks:
      - paperless
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: Scanner
      glance.category: cloud
  paperless-tika:
    image: ghcr.io/paperless-ngx/tika:2.9.1-minimal@sha256:20db3df89eaeb1b271dd840888fe909b88b12f4b86ef641ec07a1d45d4c5168f
    container_name: paperless-tika
    networks:
      - paperless
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: Tika
      glance.category: cloud
    tmpfs:
      - /tmp:rw,mode=1777
networks:
  paperless:
    name: paperless
  paperless-web:
    name: paperless-web
volumes:
  paperless-postgres:
    name: paperless-postgres
secrets:
  paperless_postgres_password:
    file: ../.secrets/paperless_postgres_password
  paperless_socialaccount_providers:
    file: ../.secrets/paperless_socialaccount_providers
