name: nextcloud
include:
  - common/docker-compose.secrets.yml
  - common/docker-compose.volumes.yml
services:
  nextcloud:
    image: nextcloud:32.0.5@sha256:aa9bb9bbde6e6afc756f7f101d65fbd57526165184737a85e31cc98dfbaaa2e2
    container_name: nextcloud
    depends_on:
      - nextcloud-postgres
    volumes:
      - ${DATA_DIR}/nextcloud/html:/var/www/html
      - ${DATA_DIR}/nextcloud/apps:/var/www/html/custom_apps
      - ${DATA_DIR}/nextcloud/data:/var/www/html/data
      - ${DATA_DIR}/nextcloud/config:/var/www/html/config
      - cloud:/var/www/html/data/ben/files
    secrets:
      - nextcloud_postgres_password
      - smtp_password
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD_FILE=/run/secrets/nextcloud_postgres_password
      - POSTGRES_HOST=nextcloud-postgres
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_SECURE=ssl
      - SMTP_PORT=465
      - SMTP_NAME=${SMTP_USER}
      - SMTP_PASSWORD_FILE=/run/secrets/smtp_password
      - MAIL_FROM=${SMTP_USER}
      - REDIS_HOST=nextcloud-redis
      - REDIS_PORT=6379
    networks:
      - nextcloud
      - nextcloud-web
    restart: unless-stopped
    labels:
      ofelia.enabled: 'true'
      ofelia.job-exec.nextcloud-cron.command: php /var/www/html/cron.php
      ofelia.job-exec.nextcloud-cron.schedule: 0 */5 * * * *
      ofelia.job-exec.nextcloud-cron.user: www-data
      readme.description: Personal Cloud Storage
      readme.links.docker: https://hub.docker.com/_/nextcloud
      readme.links.web: https://nextcloud.com/
      traefik.docker.network: nextcloud-web
      traefik.enable: true
      traefik.http.middlewares.nextcloud-hsts.headers.customresponseheaders.Strict-Transport-Security: max-age=15552000;
      traefik.http.routers.nextcloud.entrypoints: https
      traefik.http.routers.nextcloud.middlewares: nextcloud-hsts
      traefik.http.routers.nextcloud.rule: Host(`nextcloud.${HOST}`)
      glance.id: nextcloud
      glance.name: Nextcloud
      glance.icon: di:nextcloud
      glance.url: https://nextcloud.${HOST}
      glance.description: Personal Cloud
      glance.category: cloud
  nextcloud-postgres:
    image: postgres:18.0-alpine3.22@sha256:48c8ad3a7284b82be4482a52076d47d879fd6fb084a1cbfccbd551f9331b0e40
    container_name: nextcloud-postgres
    volumes:
      - nextcloud-postgres:/var/lib/postgresql
      - ${DATA_DIR}/postgres/nextcloud:/docker-entrypoint-initdb.d
    secrets:
      - nextcloud_postgres_password
    environment:
      POSTGRES_DB: nextcloud
      POSTGRES_PASSWORD_FILE: /run/secrets/nextcloud_postgres_password
      POSTGRES_USER: nextcloud
    networks:
      - nextcloud
    restart: unless-stopped
    labels:
      glance.parent: nextcloud
      glance.name: DB
      glance.category: cloud
  nextcloud-redis:
    image: redis:8.4.0@sha256:c22af04bb576503bf16b3e34a1fd2fd82de0f765afd866d2e380145e0af30d78
    container_name: nextcloud-redis
    networks:
      - nextcloud
    restart: unless-stopped
    labels:
      glance.parent: nextcloud
      glance.name: KV
      glance.category: cloud
networks:
  nextcloud:
    name: nextcloud
  nextcloud-web:
    name: nextcloud-web
volumes:
  nextcloud-postgres:
    name: nextcloud-postgres
secrets:
  nextcloud_postgres_password:
    file: ../.secrets/nextcloud_postgres_password
