name: cyberchef
services:
  cyberchef:
    image: mpepping/cyberchef:v10.20.0@sha256:3c5d75890873c895c56a73f7f88b97fcd33991551858023236debaeeb2f9d57c
    container_name: cyberchef
    networks:
      - cyberchef-web
    restart: unless-stopped
    labels:
      readme.description: >-
        The Cyber Swiss Army Knife - a web app for encryption, encoding, compression and data analysis.
      readme.links.github: https://github.com/gchq/CyberChef
      traefik.docker.network: cyberchef-web
      traefik.enable: true
      traefik.http.routers.cyberchef.entrypoints: https
      traefik.http.routers.cyberchef.middlewares: authentik
      traefik.http.routers.cyberchef.rule: Host(`cyberchef.${HOST}`)
      traefik.http.services.cyberchef.loadbalancer.server.port: 8000
      glance.name: Cyberchef
      glance.icon: di:cyberchef
      glance.url: https://cyberchef.${HOST}
      glance.description: Cyber Swiss Army Knife
      glance.category: tools
networks:
  cyberchef-web:
    name: cyberchef-web
