name: feishin
services:
  feishin:
    image: ghcr.io/jeffvli/feishin:1.3.0@sha256:e27f26640c615bfcc20dd3beed22738c4ce6f93a0e7ac3f0894beff430a3e5a1
    container_name: feishin
    environment:
      - SERVER_NAME=jessie
      - SERVER_TYPE=navidrome
      - SERVER_URL=https://navidrome.${HOST}
      - SERVER_LOCK=true
    networks:
      - feishin-web
    restart: unless-stopped
    labels:
      readme.description: A modern self-hosted music player.
      readme.links.github: https://github.com/jeffvli/feishin
      traefik.docker.network: feishin-web
      traefik.enable: true
      traefik.http.routers.feishin.entrypoints: https
      traefik.http.routers.feishin.middlewares: authentik
      traefik.http.routers.feishin.rule: Host(`feishin.${HOST}`)
      traefik.http.services.feishin.loadbalancer.server.port: 9180
      glance.name: Feishin
      glance.icon: di:feishin.png
      glance.url: https://feishin.${HOST}
      glance.description: A Modern Music Player
      glance.category: music
networks:
  feishin-web:
    name: feishin-web
