name: jellyfin
include:
  - common/docker-compose.gluetun.yml
  - common/docker-compose.volumes.yml
services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:10.11.2ubu2404-ls6@sha256:d351d241011e26be29ac06127644c194b5e0d204edb852727afa4df0ee791fb5
    container_name: jellyfin
    volumes:
      - ${DATA_DIR}/jellyfin:/config
      - media:/media
      - music:/music
      - ${LOG_DIR}/jellyfin:/config/log
    environment:
      - PUID
      - PGID
      - TZ
      - VERSION=latest
      - JELLYFIN_PublishedServerUrl=https://jellyfin.${HOST}
      - DOCKER_MODS=ghcr.io/ben-pearce/remote-ffmpeg-docker-mod:v0.5.6
      - REMOTE_FFMPEG_USER=ffmpeg
      - REMOTE_FFMPEG_HOST=pve.benpearce.io
      - REMOTE_FFMPEG_BINARY=/usr/lib/jellyfin-ffmpeg/ffmpeg
      - FFMPEG_PATH=/usr/bin/remote-ffmpeg/ffmpeg
    networks:
      - jellyfin-web
      - gluetun
    restart: unless-stopped
    labels:
      readme.description: The Free Software Media System.
      readme.links.github: https://github.com/jellyfin/jellyfin
      traefik.docker.network: jellyfin-web
      traefik.enable: true
      traefik.http.routers.jellyfin.entrypoints: https
      traefik.http.routers.jellyfin.rule: Host(`jellyfin.${HOST}`)
      traefik.http.services.jellyfin.loadbalancer.server.port: 8096
      glance.name: Jellyfin
      glance.icon: di:jellyfin
      glance.url: https://jellyfin.${HOST}
      glance.description: Media Server
      glance.category: media
    tmpfs:
      - /config/data/transcodes:rw,size=10G,mode=1777
  tvheadend:
    image: lscr.io/linuxserver/tvheadend:version-26ec161f@sha256:5da84d8b5e16943b2654fbd6b84a60135f2c68182b66a25bc4e4fe322b7f9b8d
    container_name: tvheadend
    volumes:
      - ${DATA_DIR}/tvheadend:/config
      - media:/media
      - ./scripts/tvheadend/tv_grab_url_gz:/usr/bin/tv_grab_url_gz
    environment:
      - PUID
      - PGID
      - TZ
    networks:
      - jellyfin-web
    restart: unless-stopped
    labels:
      readme.description: TV Streaming Server.
      readme.links.web: https://tvheadend.org/
      traefik.docker.network: gluetun-web
      traefik.enable: true
      traefik.http.routers.tvheadend.entrypoints: https
      traefik.http.routers.tvheadend.middlewares: authentik
      traefik.http.routers.tvheadend.rule: Host(`tvheadend.${HOST}`)
      traefik.http.services.tvheadend.loadbalancer.server.port: 9981
      glance.name: TVHeadend
      glance.icon: di:tvheadend
      glance.url: https://tvheadend.${HOST}
      glance.description: TV Streaming Server
      glance.category: media
networks:
  jellyfin-web:
    name: jellyfin-web
