name: deemix
services:
  deemix:
    image: ghcr.io/bambanah/deemix:v4.5.0@sha256:52a74c384c9b771d7cd2d05b9f122c39c69aaa241d92dcc33b96e7d54c342f22
    container_name: deemix
    volumes:
      - ${DATA_DIR}/lidarr/downloads:/downloads
      - ${DATA_DIR}/deemix:/config
      - ${LOG_DIR}/deemix:/config/log
    environment:
      - PUID
      - PGID
      - UMASK_SET=022
      - DEEMIX_SINGLE_USER=true
    networks:
      - deemix-web
    restart: unless-stopped
    labels:
      readme.description: Barebone deezer downloader.
      readme.links.gitlab: https://gitlab.com/Bockiii/deemix-docker
      readme.links.website: https://deemix.app/
      traefik.docker.network: deemix-web
      traefik.enable: true
      traefik.http.routers.deemix.entrypoints: https
      traefik.http.routers.deemix.middlewares: authentik
      traefik.http.routers.deemix.rule: Host(`deemix.${HOST}`)
      glance.name: Deemix
      glance.icon: di:deemix.png
      glance.url: https://deemix.${HOST}
      glance.description: Music Downloader
      glance.category: music
networks:
  deemix-web:
    name: deemix-web
