name: pgadmin
services:
  pgadmin:
    image: dpage/pgadmin4:9.9.0@sha256:5d9624a93634d1c5e595619cc57b1d330758120d1baf445fa97300c0c1fc3c0a
    container_name: pgadmin
    volumes:
      - ${DATA_DIR}/pgadmin/data:/var/lib/pgadmin
      - ${DATA_DIR}/pgadmin/config_local.py:/pgadmin4/config_local.py
    environment:
      - PGADMIN_DEFAULT_EMAIL=${ADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=admin
    networks:
      - firefly
      - immich
      - nextcloud
      - paperless
      - pgadmin-web
    restart: unless-stopped
    labels:
      readme.description: Web based administration tool for the PostgreSQL database.
      readme.links.docker: https://hub.docker.com/r/dpage/pgadmin4
      traefik.docker.network: pgadmin-web
      traefik.enable: true
      traefik.http.routers.pgadmin.entrypoints: https
      traefik.http.routers.pgadmin.rule: Host(`pgadmin.${HOST}`)
      traefik.http.services.pgadmin.loadbalancer.server.port: 80
      glance.name: pgAdmin
      glance.icon: di:pgadmin
      glance.url: https://pgadmin.${HOST}
      glance.description: PostgreSQL Administration
      glance.category: dev
networks:
  pgadmin-web:
    name: pgadmin-web
