name: cobalt
services:
  cobalt-api:
    image: ghcr.io/imputnet/cobalt:11.5@sha256:01637bc0ae6668f132f66b2dd992fc71865b7373ff483a406afa81d679118fc0
    container_name: cobalt-api
    volumes:
      - ${DATA_DIR}/cobalt/cookies.json:/cookies.json
    environment:
      - API_URL=https://cobalt.${HOST}/api
      - API_NAME=jessie
      - COOKIE_PATH=/cookies.json
    networks:
      - cobalt-web
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.middlewares.cobalt-api-stripprefix.stripprefix.prefixes: /api
      traefik.http.routers.cobalt-api.entrypoints: https
      traefik.http.routers.cobalt-api.middlewares: cobalt-api-stripprefix,authentik
      traefik.http.routers.cobalt-api.rule: Host(`cobalt.${HOST}`) && PathPrefix(`/api`)
      traefik.http.services.cobalt-api.loadbalancer.server.port: 9000
      glance.parent: cobalt
      glance.name: API
      glance.category: tools
  cobalt-web:
    image: ghcr.io/ben-pearce/cobalt-web:11.3@sha256:0b04e3ed20f58cbeb7a9cd8db288e1abda90adc6e2cd831bc21f7612d44cf334
    container_name: cobalt-web
    depends_on:
      - cobalt-api
    networks:
      - cobalt-web
    restart: unless-stopped
    labels:
      readme.description: Save what you love.
      readme.links.github: https://github.com/wukko/cobalt
      traefik.enable: true
      traefik.http.routers.cobalt-web.entrypoints: https
      traefik.http.routers.cobalt-web.middlewares: authentik
      traefik.http.routers.cobalt-web.rule: Host(`cobalt.${HOST}`)
      traefik.http.services.cobalt-web.loadbalancer.server.port: 8080
      glance.id: cobalt
      glance.name: cobalt
      glance.icon: di:cobalt
      glance.url: https://cobalt.${HOST}
      glance.description: Social Media Downloader
      glance.category: tools
networks:
  cobalt-web:
    name: cobalt-web
