name: immich
include:
  - common/docker-compose.volumes.yml
services:
  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.5.5@sha256:2e17e15855907ece0d5b3a7bf625b12f6d987a5854fa71d888641acae28b0323
    container_name: immich-machine-learning
    depends_on:
      - immich-postgres
      - immich-valkey
    volumes:
      - photos:/usr/src/app/upload
      - ${DATA_DIR}/immich/model-cache:/cache
    secrets:
      - immich_postgres_password
    environment:
      - NODE_ENV=production
      - REDIS_HOSTNAME=immich-valkey
      - DB_HOSTNAME=immich-postgres
      - DB_USERNAME=immich
      - DB_DATABASE_NAME=immich
      - DB_PASSWORD_FILE=/run/secrets/immich_postgres_password
    networks:
      - immich
    restart: unless-stopped
    labels:
      glance.parent: immich
      glance.name: Machine Learning
      glance.category: cloud
  immich-postgres:
    image: ghcr.io/immich-app/postgres:17-vectorchord0.4.3@sha256:79b95b795f0911e95ffa4d092a2162c4d81a984d5629bc8f786afe0bc0657671
    container_name: immich-postgres
    volumes:
      - immich-postgres:/var/lib/postgresql/data
      - ${DATA_DIR}/postgres/immich:/docker-entrypoint-initdb.d
    secrets:
      - immich_postgres_password
    environment:
      POSTGRES_DB: immich
      POSTGRES_PASSWORD_FILE: /run/secrets/immich_postgres_password
      POSTGRES_USER: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    networks:
      - immich
    restart: unless-stopped
    labels:
      glance.parent: immich
      glance.name: DB
      glance.category: cloud
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.5.5@sha256:161b1ec8af9e0478797cfd75ea857c7e55af271fa7cea103cb30ab1ba5b418d8
    container_name: immich-server
    depends_on:
      - immich-postgres
      - immich-valkey
    volumes:
      - photos:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    secrets:
      - immich_postgres_password
    environment:
      - NODE_ENV=production
      - REDIS_HOSTNAME=immich-valkey
      - DB_HOSTNAME=immich-postgres
      - DB_USERNAME=immich
      - DB_DATABASE_NAME=immich
      - DB_PASSWORD_FILE=/run/secrets/immich_postgres_password
    networks:
      - immich
      - immich-web
    restart: unless-stopped
    labels:
      readme.description: Photo & Video Backup Solution
      readme.links.github: https://github.com/immich-app/immich
      readme.links.web: https://immich.app/
      traefik.docker.network: immich-web
      traefik.enable: true
      traefik.http.routers.immich-server.entrypoints: https
      traefik.http.routers.immich-server.rule: Host(`immich.${HOST}`)
      traefik.http.services.immich-server.loadbalancer.server.port: 2283
      glance.id: immich
      glance.name: Immich
      glance.icon: di:immich
      glance.url: https://immich.${HOST}
      glance.description: Self-Hosted Photo And Video Backup
      glance.category: cloud
  immich-valkey:
    image: valkey/valkey:9.0.2@sha256:930b41430fb727f533c5982fe509b6f04233e26d0f7354e04de4b0d5c706e44e
    container_name: immich-valkey
    networks:
      - immich
    restart: unless-stopped
    labels:
      glance.parent: immich
      glance.name: KV
      glance.category: cloud
networks:
  immich:
    name: immich
  immich-web:
    name: immich-web
volumes:
  immich-postgres:
    name: immich-postgres
secrets:
  immich_postgres_password:
    file: ../.secrets/immich_postgres_password
