name: freshrss
services:
  freshrss:
    image: lscr.io/linuxserver/freshrss:1.27.1-ls287@sha256:1c42c3e4a0d34a06498b3570a5e8e3c1706ee7a2b4f20fabd9fa54f5add56770
    container_name: freshrss
    volumes:
      - ${DATA_DIR}/freshrss:/config
      - ${LOG_DIR}/freshrss:/config/log
    environment:
      - PUID
      - PGID
      - TZ
    networks:
      - freshrss-web
    restart: unless-stopped
    labels:
      readme.description: Self-hosted RSS feed aggregator.
      readme.links.github: https://github.com/FreshRSS/FreshRSS
      traefik.docker.network: freshrss-web
      traefik.enable: true
      traefik.http.routers.freshrss.entrypoints: https
      traefik.http.routers.freshrss.middlewares: authentik
      traefik.http.routers.freshrss.rule: Host(`rss.${HOST}`)
      glance.name: FreshRSS
      glance.icon: di:freshrss
      glance.url: https://rss.${HOST}
      glance.description: RSS Aggregator
      glance.category: media
    tmpfs:
      - /config/www/freshrss/data/cache:rw,mode=1777
networks:
  freshrss-web:
    name: freshrss-web
