name: immich
include:
  - common/docker-compose.volumes.yml
services:
  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:v2.1.0@sha256:24bfef29bc5c0923c64c98810931eda1449a4b237e6704a715605761bc107ae4
    container_name: immich-machine-learning
    depends_on:
      - immich-postgres
      - immich-valkey
    volumes:
      - photos:/usr/src/app/upload
      - ${DATA_DIR}/immich/model-cache:/cache
    secrets:
      - immich_postgres_password
    environment:
      - NODE_ENV=production
      - REDIS_HOSTNAME=immich-valkey
      - DB_HOSTNAME=immich-postgres
      - DB_USERNAME=immich
      - DB_DATABASE_NAME=immich
      - DB_PASSWORD_FILE=/run/secrets/immich_postgres_password
    networks:
      - immich
    restart: unless-stopped
    labels:
      glance.parent: immich
      glance.name: Machine Learning
      glance.category: cloud
  immich-postgres:
    image: ghcr.io/immich-app/postgres:17-vectorchord0.4.3@sha256:51f6abbfc720dde5cad9a39133d1c5247da8f073a449004da781c07b2cd9ee9c
    container_name: immich-postgres
    volumes:
      - immich-postgres:/var/lib/postgresql/data
      - ${DATA_DIR}/postgres/immich:/docker-entrypoint-initdb.d
    secrets:
      - immich_postgres_password
    environment:
      POSTGRES_DB: immich
      POSTGRES_PASSWORD_FILE: /run/secrets/immich_postgres_password
      POSTGRES_USER: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    networks:
      - immich
    restart: unless-stopped
    labels:
      glance.parent: immich
      glance.name: DB
      glance.category: cloud
  immich-server:
    image: ghcr.io/immich-app/immich-server:v2.1.0@sha256:72a9b9de6c6abfa7a9c9cdc244ae4d2bd9fea2ae00997f194cbd10aca72ea210
    container_name: immich-server
    depends_on:
      - immich-postgres
      - immich-valkey
    volumes:
      - photos:/usr/src/app/upload
      - /etc/localtime:/etc/localtime:ro
    secrets:
      - immich_postgres_password
    environment:
      - NODE_ENV=production
      - REDIS_HOSTNAME=immich-valkey
      - DB_HOSTNAME=immich-postgres
      - DB_USERNAME=immich
      - DB_DATABASE_NAME=immich
      - DB_PASSWORD_FILE=/run/secrets/immich_postgres_password
    networks:
      - immich
      - immich-web
    restart: unless-stopped
    labels:
      readme.description: Photo & Video Backup Solution
      readme.links.github: https://github.com/immich-app/immich
      readme.links.web: https://immich.app/
      traefik.docker.network: immich-web
      traefik.enable: true
      traefik.http.routers.immich-server.entrypoints: https
      traefik.http.routers.immich-server.rule: Host(`immich.${HOST}`)
      traefik.http.services.immich-server.loadbalancer.server.port: 2283
      glance.id: immich
      glance.name: Immich
      glance.icon: di:immich
      glance.url: https://immich.${HOST}
      glance.description: Self-Hosted Photo And Video Backup
      glance.category: cloud
  immich-valkey:
    image: valkey/valkey:9.0.0@sha256:4503e204c900a00ad393bec83c8c7c4c76b0529cd629e23b34b52011aefd1d27
    container_name: immich-valkey
    networks:
      - immich
    restart: unless-stopped
    labels:
      glance.parent: immich
      glance.name: KV
      glance.category: cloud
networks:
  immich:
    name: immich
  immich-web:
    name: immich-web
volumes:
  immich-postgres:
    name: immich-postgres
secrets:
  immich_postgres_password:
    file: ../.secrets/immich_postgres_password
