name: paperless
include:
  - common/docker-compose.volumes.yml
services:
  paperless-gotenberg:
    image: docker.io/gotenberg/gotenberg:8.26@sha256:328551506b3dec3ff6381dd47e5cd72a44def97506908269e201a8fbfa1c12c0
    container_name: paperless-gotenberg
    networks:
      - paperless
    command:
      - gotenberg
      - '--chromium-disable-javascript=true'
      - '--chromium-allow-list=file:///tmp/.*'
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: Gotenberg
      glance.category: cloud
  paperless-ngx:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.20.5@sha256:665f2f5cc5482ea2e44f90a7fa170908aaeb95d8d3c70e17f746de8fcb81f644
    container_name: paperless-ngx
    depends_on:
      - paperless-gotenberg
      - paperless-postgres
      - paperless-redis
      - paperless-tika
    volumes:
      - ${DATA_DIR}/paperless/data:/usr/src/paperless/data
      - ${DATA_DIR}/paperless/media:/usr/src/paperless/media
      - ${DATA_DIR}/paperless/export:/usr/src/paperless/export
      - ${DATA_DIR}/paperless/consume:/usr/src/paperless/consume
      - ${LOG_DIR}/paperless:/usr/src/paperless/data/log
      - paperless:/usr/src/paperless/media/documents/originals
    secrets:
      - paperless_postgres_password
      - paperless_socialaccount_providers
    environment:
      PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
      PAPERLESS_SOCIALACCOUNT_PROVIDERS_FILE: /run/secrets/paperless_socialaccount_providers
      PAPERLESS_REDIRECT_LOGIN_TO_SSO: true
      PAPERLESS_DBHOST: paperless-postgres
      PAPERLESS_DBPASS_FILE: /run/secrets/paperless_postgres_password
      PAPERLESS_REDIS: redis://paperless-redis:6379
      PAPERLESS_TIKA_ENABLED: 1
      PAPERLESS_TIKA_ENDPOINT: http://paperless-tika:9998
      PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://paperless-gotenberg:3000
      PAPERLESS_URL: https://paperless.${HOST}
      USERMAP_GID: ${PGID}
      USERMAP_UID: ${PUID}
    networks:
      - paperless
      - paperless-web
    restart: unless-stopped
    healthcheck:
      interval: 30s
      retries: 5
      test:
        - CMD
        - curl
        - '-fs'
        - '-S'
        - '--max-time'
        - '2'
        - http://localhost:8000
      timeout: 10s
    labels:
      readme.description: Document Management System.
      readme.links.github: https://github.com/paperless-ngx/paperless-ngx
      traefik.docker.network: paperless-web
      traefik.enable: true
      traefik.http.routers.paperless-ngx.entrypoints: https
      traefik.http.routers.paperless-ngx.rule: Host(`paperless.${HOST}`)
      traefik.http.services.paperless-ngx.loadbalancer.server.port: 8000
      glance.id: paperless
      glance.name: Paperless
      glance.icon: di:paperless
      glance.url: https://paperless.${HOST}
      glance.description: Document Management System
      glance.category: cloud
  paperless-postgres:
    image: postgres:18.0-alpine3.22@sha256:48c8ad3a7284b82be4482a52076d47d879fd6fb084a1cbfccbd551f9331b0e40
    container_name: paperless-postgres
    volumes:
      - paperless-postgres:/var/lib/postgresql
      - ${DATA_DIR}/postgres/paperless:/docker-entrypoint-initdb.d
    secrets:
      - paperless_postgres_password
    environment:
      POSTGRES_DB: paperless
      POSTGRES_PASSWORD_FILE: /run/secrets/paperless_postgres_password
      POSTGRES_USER: paperless
    networks:
      - paperless
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: DB
  paperless-redis:
    image: redis:8.6.0@sha256:7b6fb55d8b0adcd77269dc52b3cfffe5f59ca5d43dec3c90dbe18aacce7942e1
    container_name: paperless-redis
    volumes:
      - ${DATA_DIR}/redis/paperless:/data
    networks:
      - paperless
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: KV
      glance.category: cloud
  paperless-scanner:
    image: manuc66/node-hp-scan-to:1.9.8@sha256:142dcd145f3e9573cfdf686fcdfb1e286c06a994122a036daecc9af6943c7a5d
    container_name: paperless-scanner
    volumes:
      - ${DATA_DIR}/paperless/consume:/scan
    environment:
      - IP=${PRINTER_HOST}
      - LABEL=Paperless
      - PATTERN="scan"_dd.mm.yyyy_hh:MM:ss
      - PGID
      - PUID
      - TZ
    networks:
      - paperless
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: Scanner
      glance.category: cloud
  paperless-tika:
    image: apache/tika:3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
    container_name: paperless-tika
    networks:
      - paperless
    restart: unless-stopped
    labels:
      glance.parent: paperless
      glance.name: Tika
      glance.category: cloud
    tmpfs:
      - /tmp:rw,mode=1777
networks:
  paperless:
    name: paperless
  paperless-web:
    name: paperless-web
volumes:
  paperless-postgres:
    name: paperless-postgres
secrets:
  paperless_postgres_password:
    file: ../.secrets/paperless_postgres_password
  paperless_socialaccount_providers:
    file: ../.secrets/paperless_socialaccount_providers
