name: ofelia
services:
  ofelia:
    image: mcuadros/ofelia:0.3.20@sha256:83dfc7e24b63aa8973010ad146bee3f69bec272eb20ea2c8e10c7170dcfd50a9
    container_name: ofelia
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - TZ
    network_mode: none
    command: daemon --docker
    restart: unless-stopped
    labels:
      ofelia.enabled: true
      readme.description: Docker job scheduler.
      readme.links.github: https://github.com/mcuadros/ofelia
