name: navidrome
include:
  - common/docker-compose.volumes.yml
services:
  navidrome:
    image: deluan/navidrome:0.58.5@sha256:648ebd45c50c58edc7ad9f0cc3b4411a1bece16c81f0b3630a0ab0a739c6d7ec
    container_name: navidrome
    volumes:
      - ${DATA_DIR}/navidrome:/data
      - music:/music:ro
    environment:
      - ND_SCANSCHEDULE=1h
      - ND_LOGLEVEL=info
      - ND_SESSIONTIMEOUT=72h
      - ND_BASEURL=/
      - ND_REVERSEPROXYWHITELIST=0.0.0.0/0
      - ND_REVERSEPROXYUSERHEADER=X-authentik-username
    networks:
      - navidrome-web
    restart: unless-stopped
    labels:
      readme.description: Modern Music Server and Streamer compatible with Subsonic/Airsonic.
      readme.links.github: https://github.com/navidrome/navidrome
      traefik.docker.network: navidrome-web
      traefik.enable: true
      traefik.http.routers.navidrome.entrypoints: https
      traefik.http.routers.navidrome.middlewares: authentik
      traefik.http.routers.navidrome.rule: Host(`navidrome.${HOST}`)
      glance.name: Navidrome
      glance.icon: di:navidrome
      glance.url: https://navidrome.${HOST}
      glance.description: Music Streaming
      glance.category: music
networks:
  navidrome-web:
    name: navidrome-web
