name: stirling-pdf
services:
  stirling-pdf:
    image: frooodle/s-pdf:2.4.0@sha256:9ce8e1811fcbf97f0f720c437d26864c6c33d67878f81922a9478b50c6205196
    container_name: stirling-pdf
    volumes:
      - ${DATA_DIR}/stirling-pdf/data:/usr/share/tessdata
      - ${DATA_DIR}/stirling-pdf/config:/configs
      - ${LOG_DIR}/logs:/logs/
    environment:
      - DOCKER_ENABLE_SECURITY=false
      - INSTALL_BOOK_AND_ADVANCED_HTML_OPS=false
      - LANGS=en_GB
    networks:
      - stirling-pdf-web
    restart: unless-stopped
    labels:
      readme.description: PDF manipulation tool.
      readme.links.github: https://github.com/Stirling-Tools/Stirling-PDF
      traefik.docker.network: stirling-web
      traefik.enable: true
      traefik.http.routers.stirling-pdf.entrypoints: https
      traefik.http.routers.stirling-pdf.middlewares: authentik
      traefik.http.routers.stirling-pdf.rule: Host(`stirling-pdf.${HOST}`)
      glance.name: Stirling PDF
      glance.icon: di:stirling-pdf
      glance.url: https://stirling-pdf.${HOST}
      glance.description: PDF Manipulation Platform
      glance.category: tools
networks:
  stirling-pdf-web:
    name: stirling-pdf-web
