name: obsidian
services:
  obsidian-couchdb:
    image: couchdb:3.5.0@sha256:1c0a30a54535377bc9ae23f42efb1ca4e92abe796f78ec98b768ac1d5874cc1b
    container_name: obsidian-couchdb
    volumes:
      - ${DATA_DIR}/couchdb/obsidian:/opt/couchdb/data
      - ${DATA_DIR}/couchdb/obsidian.ini:/opt/couchdb/etc/local.d/docker.ini
    environment:
      COUCHDB_PASSWORD: couchdb
      COUCHDB_USER: ben
    networks:
      - obsidian-web
    restart: unless-stopped
    labels:
      traefik.docker.network: obsidian-web
      traefik.enable: true
      traefik.http.middlewares.obsidian-cors.headers.accessControlAllowCredentials: true
      traefik.http.middlewares.obsidian-cors.headers.accesscontrolallowheaders: accept,authorization,content-type,origin,referer
      traefik.http.middlewares.obsidian-cors.headers.accesscontrolallowmethods: GET,PUT,POST,HEAD,DELETE
      traefik.http.middlewares.obsidian-cors.headers.accesscontrolalloworiginlist: app://obsidian.md,capacitor://localhost,http://localhost
      traefik.http.middlewares.obsidian-cors.headers.accesscontrolmaxage: 3600
      traefik.http.middlewares.obsidian-cors.headers.addvaryheader: true
      traefik.http.routers.obsidian-couchdb.entrypoints: https
      traefik.http.routers.obsidian-couchdb.middlewares: obsidian-cors
      traefik.http.routers.obsidian-couchdb.rule: Host(`obsidian-couchdb.${HOST}`)
      traefik.http.services.obsidian-couchdb.loadbalancer.server.port: 5984
    user: ${PUID}
networks:
  obsidian-web:
    name: obsidian-web
