name: fdroid
services:
  fdroid-server:
    image: ghcr.io/ben-pearce/pwa-to-fdroid:v1.2.2@sha256:2186a06ca2210ba5140dd673b59ca6a4ee9fb0b98b204cb3774f14464c12b779
    container_name: fdroid-server
    secrets:
      - fdroid_password
    environment:
      HTTP_AUTH_LOGIN: ben
      HTTP_AUTH_PASSWORD_FILE: /run/secrets/fdroid_password
    networks:
      - fdroid-web
    restart: unless-stopped
    labels:
      traefik.docker.network: fdroid-web
      traefik.enable: true
      traefik.http.middlewares.cobalt-replacepath.replacepath.path: /repo/cobalt/assetlinks.json
      traefik.http.middlewares.dashboard-replacepath.replacepath.path: /repo/glance/assetlinks.json
      traefik.http.middlewares.stirling-pdf-replacepath.replacepath.path: /repo/stirling-pdf/assetlinks.json
      traefik.http.routers.fdroid-web-cobalt.entrypoints: https
      traefik.http.routers.fdroid-web-cobalt.middlewares: cobalt-replacepath
      traefik.http.routers.fdroid-web-cobalt.rule: Host(`cobalt.${HOST}`) && Path(`/.well-known/assetlinks.json`)
      traefik.http.routers.fdroid-web-dashboard.entrypoints: https
      traefik.http.routers.fdroid-web-dashboard.middlewares: dashboard-replacepath
      traefik.http.routers.fdroid-web-dashboard.rule: Host(`${HOST}`) && Path(`/.well-known/assetlinks.json`)
      traefik.http.routers.fdroid-web-stirling-pdf.entrypoints: https
      traefik.http.routers.fdroid-web-stirling-pdf.middlewares: stirling-pdf-replacepath
      traefik.http.routers.fdroid-web-stirling-pdf.rule: Host(`stirling-pdf.${HOST}`) && Path(`/.well-known/assetlinks.json`)
      traefik.http.routers.fdroid-web.entrypoints: https
      traefik.http.routers.fdroid-web.rule: Host(`fdroid.${HOST}`)
      traefik.http.services.fdroid-web.loadbalancer.server.port: 80
      glance.name: F Droid
      glance.icon: di:f-droid
      glance.url: https://fdroid.${HOST}
      glance.description: Android App Repository
      glance.category: tools
networks:
  fdroid-web:
    name: fdroid-web
secrets:
  fdroid_password:
    file: ../.secrets/fdroid_password
