name: gluetun
services:
  gluetun:
    image: qmcgaw/gluetun:v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30
    container_name: gluetun
    secrets:
      - gluetun_wireguard_addresses
      - gluetun_wireguard_preshared_key
      - gluetun_wireguard_private_key
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY_SECRETFILE=/run/secrets/gluetun_wireguard_private_key
      - WIREGUARD_PRESHARED_KEY_SECRETFILE=/run/secrets/gluetun_wireguard_preshared_key
      - WIREGUARD_ADDRESSES_SECRETFILE=/run/secrets/gluetun_wireguard_addresses
      - SERVER_COUNTRIES=United Kingdom
      - TZ
    networks:
      - gluetun
      - gluetun-web
    labels:
      readme.description: Lightweight swiss-army-knife-like VPN client.
      readme.links.docker: https://github.com/qdm12/gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
networks:
  gluetun:
    name: gluetun
  gluetun-web:
    name: gluetun-web
secrets:
  gluetun_wireguard_addresses:
    file: ../../.secrets/gluetun_wireguard_addresses
  gluetun_wireguard_preshared_key:
    file: ../../.secrets/gluetun_wireguard_preshared_key
  gluetun_wireguard_private_key:
    file: ../../.secrets/gluetun_wireguard_private_key
